input.ng-invalid {
    color: red !important;
}

editor.ng-invalid {
    border: 3px solid red;
    transition: 0.1s all ease-in-out !important;
}

.emojibtn {
    display: block !important;
    background-color: transparent;

}

.em-pop {
    padding-top: 42px;

}